header {
    height: 80px;
    left: 0;
    width: 100%;
    top: 0;
  
    padding: 0 20px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    position: relative;
  
    .header-item {
      flex-grow : 1;
      flex-shrink : 1;
      flex-basis:0;
  
      @media screen and (max-width: 500px) {
      }
  
      svg {
        max-height: 40px;
      }
  
      .logo {
        width: 260px;
        margin: auto;
        display: block;
      }
    }
  
    .back-btn {
      display: flex;
      align-items: center;
      color: white;
      cursor: pointer;
      flex: 1;
  
      @media screen and (max-width: 900px) {
        flex: 0;
      }
  
      svg {
          width:32px;
          height:32px;
      }
  
      .copy {
        margin-left: 10px;
        opacity: 0;
        transition: opacity 0.3s ease;
        font-size: 75%;
        font-family: PT Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  
        @media screen and (max-width: 900px) {
          display: none;
        }
      }
  
      &:hover .copy {
        opacity: 1;
      }
    }
  
    .logo {
      margin: auto;
      display: block;
    }
  
    .share-icons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex:1;
  
      @media screen and (max-width: 900px) {
        display: none;
      }
  
      h4 {
        font-weight: 400;
        margin: 0;
  
        span {
          font-size: 12px;
          color: #fff;
        }
      }
  
      ul {
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        padding: 0px;
  
        &:first-child {
          padding: 0px;
        }
  
        li {
          padding: 0 5px;
          line-height: inherit;
  
          &:first-child {
            padding-left: 15px;
          }
  
          svg {
            display: inline-block;
            width: 1.5em;
            height: 1.5em;
            vertical-align: middle;
            margin-top: -0.15em;
            position: relative;
          }
        }
      }
    }
  }
  